@import "../Themes/Catppuccin Theme/Catppuccin Theme.scss";
#About {
    .container {
        display: block;
        font-size: large;
        position: relative;
        font-weight: 1000;
        &-left {
            width: 40%;
            justify-content: space-evenly;
        }

        &-right {
            width: 40%;
            justify-content: space-evenly;
        }
    }

    hr {
        &.invsBorder {
            border: none;
            padding: 1.5rem;
            &-small {
                padding: 1.2rem;
                border: none;
            }
        }

        &.divider {
            border-style: dotted;
            border-color: $crust;
            opacity: 40%;
            border-width: 0.5rem;
            border-left: 0;
            color: $subtext1;
            border-color: $subtext0;
        }
    }
    * {
        font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        background-color: $base;
        color: $text;
        &.center > h1 {
            font-size: 2rem;
            justify-content: center;
            display: block;
        }
        &.hover {
            top: 40%;
            position: absolute;
            color: $text;
        }
        &.center > li {
            justify-content: center;
            display: flex;
            flex: 0 1 auto;
            list-style-type: none;
            font-size: larger;
            font-weight: 600;
            // background: #fafafa;
        }
        &.center > ul {
            width: 100%;
            // background: #cacaca;
            align-items: stretch;
            justify-content: space-between;
        }
    }
    .image {
        @media screen and (min-width: 800px) {
            width: 10cm;
        }
        width: 100%;
        height: 70%;
    }

    .media {
        display: flex;
        justify-content: space-around;
    }
}
