@import "../Themes/Catppuccin Theme/Catppuccin Theme.scss";
.container {
    display: flex;
    justify-content: space-evenly;
    font-size: large;

    &-left {
        width: 45%;
    }

    &-right {
        width: 45%;
    }
}

hr {
    &.invsBorder {
        border: none;
        padding: 1.5rem;
    }

    &.divider {
        border-style: dotted;
        border-color: $crust;
        opacity: 40%;
        border-width: 0.5rem;
        border-left: 0;
    }
}
* {
    background-color: $base;
    color: $text;
    &.center > h1 {
        font-size: 2rem;
        justify-content: center;
        display: grid;
    }
    &.center > ul {
        justify-content: space-between;
        display: flex;
    }
}
