@import "../Themes/Catppuccin Theme/Catppuccin Theme.scss";
#home {
    hr {
        &.invsBorder {
            border: none;
            padding: 1.5rem;
        }

        &.divider {
            border-style: dotted;
            border-color: $crust;
            opacity: 40%;
            border-width: 0.5rem;
            rotate: 90deg;
            width: 20rem;
            border-top: 0;
        }
    }
    * {
        background-color: $base;
        color: $text;
    }
    #Title-middle {
        display: flex;
        justify-content: center;
        align-items: center;
        position: sticky;
        background-color: transparent;
    }
    .storage {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        .block {
            width: fit-content;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
    }
    .image {
        display: flex;
        justify-content: center;
        align-content: center;
    }
}
