@import "../Themes/Catppuccin Theme/Catppuccin Theme.scss";
#Tasks {
    body {
        background-color: $base;
        color: $text;
    }
    .title {
        display: flex;
        justify-content: center;
        margin-left: auto;
    }
    .taskList {
        margin-right: 1;
        margin-left: auto;
        justify-content: start;
        .task {
            background-color: $blue;
        }
    }
    .tcontainer {
        display: flex;

        margin: 1px;
        border: 1px;
        padding: 1px;
    }
    h6 {
        font-size: 1.2rem;
        display: inline;
        justify-content: left;
        align-content: start;
        padding-left: 1rem;
        background-color: transparent;
    }
    #btn-next {
        border-radius: 30px;
        margin-right: 1rem;
        border: $overlay2;
        background-color: $overlay2;
        padding: $base;
        display: inline-flex;

        font-size: large;
        float: right;
    }

    #dropDown {
        padding: 0.3rem;
        margin: 0.2rem;
        display: inline-flex;
        flex-direction: column;

        background-color: $surface0;
        border-radius: 50px;
        margin-left: 1rem;
    }
    #selectable {
        background-color: $overlay1;
        border-radius: 40px;
        margin: 0.2rem;
        padding: 0.3rem;
        position: relative;
        display: inline-flex;
        width: fit-content;
    }
}
